* {
  margin: 0;
  padding: 0;
}

body  {
  background-color: #ffffff;
  line-height: 1.7;
  font-size: 18px;
  font-family: 'Cardo',serif;
}

a:link, a:visited  {
  color: #008080;
  background-color: transparent;
  text-decoration: none;

}

a:hover   {
text-decoration: underline;
}

h2, h3, h4, h5 {
  color: #008080;
  font-weight: 200;
}

h2  {
  color: #008080;
  font-weight: 200;
  margin:0px;
  font-size: 30px;
}

#header {
  background: url(images/landing-page.jpg);
  height:100vh;
  color: #008080;
  background-position: top left;
  background-size: cover;
  margin: 0px;
  padding:0px;
}

#links ul {
  border: 0;
  padding: 0;
  margin: 0;
}
#links li {
  list-style: none;
  float:left;
  margin:1em;
}

div.rightlinks {
  float: right;
}

.clearfloats {
  clear: both;
  margin: 0px;
  padding: 0px;
}

.spacer {
  height:30px;
}

.quot {
  padding: 4em;
  background-color: rgba(0, 128, 128, 0.2);
}

.quot h3 {
  font-size: 20px;
  color: #008080;
  line-height: 35px;
  font-style: italic;
  text-align: center;
}

#about {
  margin-right: 350px;
  margin-left: 350px;
  padding-top: 0px;
  text-align: center;
}

#about h2 {
  color: #008080;
  font-weight: 200;
  margin: 0px;
  font-size: 30px;
}

#about h3 {
  color: #008080;
  font-weight: 200;
  margin: 0px;
  font-size: 25px;
}

.aboutme {
  color: #008080;
  font-size: 18px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

h1  {
   font-size: 60px;
   font-weight: normal;
   text-align: center;
   line-height: normal;
   margin: 1em;
}

#quote {
  color: #008080;
  padding: 25px;
  line-height: normal;
  font-style: italic;
}

.row1 {
  float: left;
  width: 45.5%;
  margin-right: 2em;
}

.row2 {
  float: left;
  width: 45.5%;
  margin-right: 2em;
}

.contact  {
  background-color: #008080;
  text-align: center;
  color: #ffffff;
  padding: 2em;
  margin: 0px;
  }

.contact h2 {
  color: #ffffff;
  }

#projects {
  text-align: center;
  padding: 2em;
  margin: 0px;
  height: auto;
}

.projects h3 {
  color: #008080;
  font-weight: 200;
  margin:0px;
  font-size: 30px;
}

footer ul li {
  display: inline-block;
}

footer {
  font-size: 1.3em;
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .fancybg {
    background: none;
    margin:0px;
    padding: 0px;
  }

}